<ul>

    <% data.forEach( person =>{ %>
        <li>
            NOMBRE: <strong><%= person.nombre %></strong>
            EMAIL: <strong><%= person.email %></strong>
        </li>
    <% }) %>

</ul>