<div class="col-8" id="chat-channel"> 
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" id="userName">
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="escribe tu mensaje ..." aria-label="Recipient's username" aria-describedby="button-addon2"id="msg">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Enviar mensaje</button>
    </div>

    <div id="messages">
        
    </div>

</div>