<div class="col-4" id="productos">
    {{#each products}}
        <div class="card" style="width: 18rem;">
            <img src="{{this.thumbnail}}" class="card-img-top" alt="{{this.nombre}}">
            <div class="card-body">
                <p>Producto : {{this.nombre}}</p>
                <p>Precio: ${{this.precio}}</p>
            </div>
        </div>
    {{/each}}
</div>