<hr>

<div class="col-6" id="chat-channel"> 
<form >
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="nombre producto" name="nombre">
        <label for="floatingInput">Nombre Producto</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingPassword" placeholder="precio del producto" name="precio">
        <label for="floatingPassword">Precio del Producto</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingPassword" placeholder="link de icono" name="thumbnail">
        <label for="floatingPassword">Thumbnail</label>
    </div>
    <br>
    <div class="col-12">
        <button type="submit" class="btn btn-primary" id="create">CREAR PRODUCTO</button>
    </div>
</form>
</div>