<nav class="navbar navbar-dark bg-dark">
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">LANDING PAGE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/producto">CREACION PRODUCTO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/productos" id="server">MUESTRA PRODUCTO</a>
        </li>
    </ul>
</nav>